.header {
  grid-area: header;
}
.nav {
  grid-area: nav;
}
.main {
  grid-area: main;
}
.aside {
  grid-area: aside;
}
.ad {
  grid-area: ad;
}
.footer {
  grid-area: footer;
}

.header,
.main,
.nav,
.aside,
.ad,
.footer {
  background-color: antiquewhite;
}

/* 
gride style related css
*/
.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    "header header header header"
    "nav main main aside "
    "nav  main main ad"
    "footer footer footer footer";
}

@media screen and (max-width: 991px) {
  .grid-container {
    gap: 40px;
    grid-template-columns: 2fr 4fr 1fr;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "aside main main"
      "ad footer footer";
  }
}  

/* desktop version */

@media screen and (max-width: 576px) {
  .grid-container {
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "aside"
    "ad"
    "footer"
    ;
  }
}



/* mobile device */

